# node_modules klasörünü ekleme
node_modules/

# build klasörünü ekleme (isteğe bağlı, Render build’i kendi alacaksa eklenebilir)
build/

# log dosyalarını ekleme
npm-debug.log
yarn-debug.log
yarn-error.log

# .env dosyalarını ekleme (şifrelerin, anahtarların güvenliği için)
.env
.env.local
.env.*
# Diğer yaygın ortam dosyaları
.envrc
.env.development.local
.env.test.local
.env.production.local
# Vercel, Netlify, Render config dosyaları
.vercel/
.netlify/
render.yaml